<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Aboutus</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
             theme: {
               extend: {
                 // grayscale: {
                 //     50: '50%',
                
                 fontFamily: { 
                       pop: ["Poppins", "sans-serif"], 
                       fraun:["Fraunces", "sans-serif"],
                   },
                 colors: { 
                   darkgreen:"#677E52",
                   light: "#fcf5eb", // hada bach khdemt lbackground
                   lightbeige:"#EAE2CB",
                   lightgreen:"#cfdb98",
                   beige:"#c4b494",
                 },
               },
             },
           };
      </script>
      <style>


        .list-unstyled {
            text-align: center;
          }

          .danger {
            background-color: #bb2124;
            color: white
          }

          .success {
            background-color: #22bb33;
          }



            #navbar {
                display: none;
            }
            #burgerlist {
                display: block;
            }
            #unshowlist {
                display: none;
            }
            .dropdown:hover .dropdown-menu {
                display: block;
            }
            .animateScroll {
        animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
        }
    </style>
</head>
<body class="bg-light">


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="list-unstyled">
      {% for category, message in messages %}
        {% if category == 'success' %}
          <li class="alert alert-success success">{{ message }}</li>
        {% elif category == 'danger' %}
          <li class="alert alert-danger danger">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

    <main class="bg-light min-h-screen">
        <div class="flex">
            
            <aside class="w-64 bg-darkgreen rounded-r-xl text-light hidden md:block">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/NUOVAlogo2(white).png') }}" alt="logo" class="w-[79px] h-[30px] ml-4 mt-8"></a>
                <nav class="mt-6 font-medium text-[16px]">
                    <a href="#" class="block py-2 px-4 hover:bg-opacity-75 mx-2 bg-[#3C4A30] bg-opacity-75 rounded-lg mt-10">Admin account</a>
                    <a href="{{ url_for('productTable') }}" class=" mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80  duration-300 block py-2 px-4 hover:bg-opacity-75  font-poppins">Edit Stock</a>
                    <a href="{{ url_for('orders') }}" class=" mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80  duration-300 block py-2 px-4 hover:bg-opacity-75  ">Users Orders</a>
                    <a href="{{ url_for('home') }}" class="mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80  duration-300 block py-2 px-4 hover:bg-opacity-75 ">Home</a>

                </nav>
            </aside>
    
            <div class="flex-1">
                
                <header class="bg-light p-4 flex justify-between items-center mt-10">
                    <h2 class="text-4xl font-fraun text-beige font-bold">Hello, {{ user.firstname }}!</h2>
                    <button id="logoutButton" class="bg-darkgreen text-light py-1 px-5 rounded-lg hover:rounded-lg hover:opacity-80  duration-300">Log out</button>
                </header>
    
              
                <div class="p-6">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                      
                        <div class="bg-lightbeige bg-opacity-10 rounded-2xl shadow-xl p-6">
                            <div class="flex flex-col items-center">
                                <div class="relative">
                                    <img id="admin-image" src="{{ url_for('static', filename='images/admin.png') }}" alt="" class="w-[60px] h-[60px] cursor-pointer rounded-full object-cover">
                                    <button id="edit-image-btn" class="absolute bottom-0 right-0  hover:bg-opacity-80 transition-opacity duration-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-fill text-darkgreen " viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                        </svg>
                                    </button>
                                </div>
                                <input type="file" id="image-upload" class="hidden">
                                <h2 class="text-xl font-fraun font-bold mt-4">{{ user.firstname }} {{ user.lastname }}</h2>
                                <p class="text-darkgreen">{{ user.email }}</p>
                            </div>
                        </div>
    
                       
                        <div class="bg-lightbeige bg-opacity-10 rounded-2xl shadow-xl p-6">
                            <h3 class="text-lg font-fraun font-bold mb-4 text-darkgreen">Edit Your Profile</h3>
                            <form action="{{ url_for('update_data', id=user.id) }}" method="POST" class=" rounded-3xl mt-10  ">
                                <label for="" class="">Edit Your First Name</label>
                                <input type="text" id="firstname" name="firstname" value="{{ user.firstname }}" placeholder="Edit Your First Name" class="py-3 bg-[#D2C5AA] bg-opacity-30 rounded-lg outline-none pl-3 pr-10 text-darkgreen lg:w-[100%] md:w-[90%] mb-4 placeholder-darkgreen"><br>
                                <label for="">Edit Your Last Name</label>
                                <input type="text" id="lastname" name="lastname" value="{{ user.lastname }}" placeholder="Edit Your Last Name" class="py-3 bg-[#D2C5AA] bg-opacity-30 rounded-lg outline-none pl-3 pr-10 text-darkgreen lg:w-[100%]  md:w-[90%] mb-4 placeholder-darkgreen"><br>
                                <label for="">Edit Your Email</label>
                                <input type="email" id="email" name="email" value="{{ user.email }}" placeholder="Edit Your Email" class="py-3 bg-[#D2C5AA] bg-opacity-30 rounded-lg outline-none pl-3 pr-10 text-darkgreen lg:w-[100%]  md:w-[90%] mb-4 placeholder-darkgreen"><br>
                                <button type="submit" class="bg-darkgreen text-light font-pop py-2 px-5 rounded-lg mt-3 text-[13px] hover:opacity-80 transition-opacity duration-300">Save your changes</button>
                            </form>
                        </div>
    
                       
                        <div class="bg-lightbeige bg-opacity-10 rounded-2xl shadow-xl p-6">
                            <h3 class="text-lg font-fraun font-bold mb-4 text-darkgreen">Users</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{  url_for('static', filename='js/main.js')  }}"></script> 

    <script>
        document.getElementById('logoutButton').addEventListener('click', function() {
            window.location.href = "{{ url_for('logout') }}";
        });
        const editImageBtn = document.getElementById('edit-image-btn');
        const adminImage = document.getElementById('admin-image');
        const imageUploadInput = document.getElementById('image-upload');
        
        editImageBtn.addEventListener('click', () => {
            imageUploadInput.click();
        });
        
        imageUploadInput.addEventListener('change', (e) => {
            const file = imageUploadInput.files[0];
            const reader = new FileReader();
            reader.onload = () => {
                const imageDataUrl = reader.result;
                adminImage.src = imageDataUrl;
            };
            reader.readAsDataURL(file);
        });


    


    </script>

</body>
</html>