<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Aboutus</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
             theme: {
               extend: {
                 // grayscale: {
                 //     50: '50%',
                
                 fontFamily: { 
                       pop: ["Poppins", "sans-serif"], 
                       fraun:["Fraunces", "sans-serif"],
                   },
                 colors: { 
                   darkgreen:"#677E52",
                   light: "#fcf5eb", // hada bach khdemt lbackground
                   lightbeige:"#EAE2CB",
                   lightgreen:"#cfdb98",
                   beige:"#c4b494",
                 },
               },
             },
           };
      </script>
      <style>


        .list-unstyled {
            text-align: center;
          }

          .danger {
            background-color: #bb2124;
            color: white
          }

          .success {
            background-color: #22bb33;
          }



            #navbar {
                display: none;
            }
            #burgerlist {
                display: block;
            }
            #unshowlist {
                display: none;
            }
            .dropdown:hover .dropdown-menu {
                display: block;
            }
    </style>
</head>
<body class="bg-light">


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="list-unstyled">
      {% for category, message in messages %}
        {% if category == 'success' %}
          <li class="alert alert-success success">{{ message }}</li>
        {% elif category == 'danger' %}
          <li class="alert alert-danger danger">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
{% endwith %}


    <header class="w-[90%] mx-auto flex items-center justify-between mt-4 xl:mx-auto xl:max-w-[1280px]">
        <img src="../static/images/NUovalogo2.png" alt="" class="w-[79px] h-[30px]"> 
        <nav class="hidden md:flex px-10 items-center text-[16px] gap-2">
            <a href="index.html" class="p-8  hover:text-darkgreen">HOME</a>
            <div class="dropdown p-8">
                <a href="shop.html" class=" hover:text-darkgreen">SHOP</a>
                <div class="absolute hidden dropdown-menu bg-light text-darkgreen shadow-xl mt-1 rounded-lg">
                    <a href="category1.html" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Makeup</a>
                    <a href="category2.html" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Skincare</a>
                    <a href="category3.html" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Fragrance</a>
                    <a href="category4.html" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Men's grooming</a>
                </div>
            </div>
            <a href="about.html" class="p-8 hover:text-darkgreen">ABOUT US</a>
            <a href="contactus.html" class="hover:text-darkgreen">CONTACT US</a>
        </nav>
        <div class="flex hidden md:flex items-center gap-4">
            <button class="hover:text-darkgreen">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-search cursor-pointer hover:bg-opacity-30" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
            <button>
                <a href="login.html" class="hover:text-darkgreen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person text-darkgreen" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </a>
            </button>
            <button>
                <a href="cart.html" class="hover:text-darkgreen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                </a>
            </button>
        </div>
        <button class="block md:hidden">
            <svg id="burgerlist" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
            <svg id="unshowlist" xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </header>
    <!-- this navbar is for samll screens -->
    <nav class="flex flex-col" id="navbar">
        <div class="flex flex-col justify-start w-[90%] items-center bg-opacity-90 mt-7 rounded-3xl bg-darkgreen mx-auto p-3 md:hidden">
            <a href="index.html" class="text-light p-3">HOME</a>
            <div class="dropdown">
                <a href="shop.html" class="font-bold text-light p-8">SHOP</a>
                <div class="absolute hidden dropdown-menu bg-light text-beige shadow-md mt-1 rounded-md">
                    <a href="category1.html" class="block px-4 py-2 hover:bg-lightbeige">Makeup</a>
                    <a href="category2.html" class="block px-4 py-2 hover:bg-lightbeige">Skincare</a>
                    <a href="category3.html" class="block px-4 py-2 hover:bg-lightbeige">Fragrance</a>
                    <a href="category4.html" class="block px-4 py-2 hover:bg-lightbeige">Men's grooming</a>
                </div>
            </div>
            <a href="about.html" class="p-3 text-light font-bold">ABOUT US</a>
            <a href="contactus.html" class="text-light pb-3">CONTACT US</a>
            <div class="flex block md:hidden items-center gap-4 mt-3">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-search cursor-pointer hover:bg-opacity-30 dark:text-light" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person dark:text-light" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </button>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-cart dark:text-light" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
    <main class="">
        
        <section class="flex flex-col md:flex-row items-center justify-between w-[90%] mx-auto mt-20 xl:max-w-[1400px] xl:mx-auto">
            <h1 class="text-4xl text-beige font-fraun font-bold">Hello,  {{ user.firstname }} !</h1>
            <button id="logoutButton" class="bg-darkgreen text-white px-6 py-1 mt-4 rounded-xl hover:opacity-80 transition-opacity duration-300"> Log out</button>
        </section>
        <section class="bg-lightbeige bg-opacity-30 shadow-2xl rounded-[50px] mx-[5%]  mt-20  py-10 w-[80%] md:w-[60%] mx-auto xl:max-w-[1400px] xl:mx-auto mb-20">
                <div class="">
                    <div class=" text-center">
                        <div class="flex justify-center mt-20 hover:opacity-80 transition-opacity duration-300">
                            <img id="admin-image" src="../static/images/admin.png" alt="" class="object-cover w-[60px] h-[60px] cursor-pointer">
                            <button id="edit-image-btn" class="relative top-[20px] left-[-18px]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil-fill text-darkgreen " viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                </svg>
                            </button>
                            <input type="file" id="image-upload" style="display: none;">
                        </div>
                        <h2 class="items-center mr-3 text-2xl font-bold font-fraun mt-2">{{ user.firstname }} {{ user.lastname }}</h2>
                        <h3 class="text-darkgreen mt-2">{{ user.email }}</h3>
                    </div>
                    <div class="  mx-auto flex justify-between md:pl-20 w-[90%] mx-auto pl-5  md:w-[100%] md:text-start">
                        <div class=" ">
                            <button class="font-pop font-bold border-b-2 w-fit border-beige mt-20 flex justify-center ">Edit Your Profile <span class="text-beige"> </span></button>
                            <div class="pb-6  mt-10  md:mt-0 ">
                                <form action="" class=" rounded-3xl mt-10  ">
                                    <input type="text" id="FirstName" placeholder="Edit Your FirstName" class="py-3 bg-[#D2C5AA] bg-opacity-30 rounded-lg outline-none pl-3 pr-10 text-darkgreen lg:w-[100%] md:w-[90%] mb-4 placeholder-darkgreen"><br>
                                    <input type="text" id="LastName" placeholder="Edit Your LastName" class="py-3 bg-[#D2C5AA] bg-opacity-30 rounded-lg outline-none pl-3 pr-10 text-darkgreen lg:w-[100%]  md:w-[90%] mb-4 placeholder-darkgreen"><br>
                                    <input type="email" id="Email" placeholder="Edit Your Email" class="py-3 bg-[#D2C5AA] bg-opacity-30 rounded-lg outline-none pl-3 pr-10 text-darkgreen lg:w-[100%]  md:w-[90%] mb-4 placeholder-darkgreen"><br>
                                    <button type="submit" class="bg-darkgreen text-light font-pop py-2 px-5 rounded-lg mt-3 text-[13px] hover:opacity-80 transition-opacity duration-300">Save your changes</button>
                                </form>
                            </div>
                        </div>
                        <div>
                            <div class=" md:w-[200px] lg:w-[300px] my-20 hidden md:block">
                                <img src="../static/images/accountpic.png" alt="" class="rounded-l-full object-cover">
                              </div>
                        </div>
                </div>
           
        </section>
    </main>

    <script src="../static/js/main.js"></script> 

    <script>
        document.getElementById('logoutButton').addEventListener('click', function() {
            window.location.href = "{{ url_for('logout') }}";
        });


        const editImageBtn = document.getElementById('edit-image-btn');
        const adminImage = document.getElementById('admin-image');
        const imageUploadInput = document.getElementById('image-upload');
        
        editImageBtn.addEventListener('click', () => {
            imageUploadInput.click();
        });
        
        imageUploadInput.addEventListener('change', (e) => {
            const file = imageUploadInput.files[0];
            const reader = new FileReader();
            reader.onload = () => {
                const imageDataUrl = reader.result;
                adminImage.src = imageDataUrl;
            };
            reader.readAsDataURL(file);
        });
    </script>

</body>
</html>