<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">    
        <title>CosmeticWebsite</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                 theme: {
                   extend: {
                     // grayscale: {
                     //     50: '50%',
                    
                     fontFamily: { 
                           pop: ["Poppins", "sans-serif"], 
                           fraun:["Fraunces", "sans-serif"],
                       },
                     colors: { 
                       darkgreen:"#677E52",
                       light: "#fcf5eb", // hada bach khdemt lbackground
                       lightbeige:"#EAE2CB",
                       lightgreen:"#cfdb98",
                       beige:"#c4b494",
                     },
                   },
                 },
               };
        </script>
        <style>
            #navbar {
                display: none;
            }
            #burgerlist {
                display: block;
            }
            #unshowlist {
                display: none;
            }
            .dropdown:hover .dropdown-menu {
                display: block;
            }
      </style>
  </head>
  <body class="bg-light">

      <header class="w-[90%] mx-auto flex items-center justify-between mt-4 xl:mx-auto xl:max-w-[1280px]">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/NUovalogo2.png') }}" alt="" class="w-[79px] h-[30px]"> </a>
        <nav class="hidden md:flex px-10 items-center text-[16px] gap-2">
              <a href="{{url_for('home')}}" class="p-8 hover:text-darkgreen">HOME</a>
              <div class="dropdown p-8">
                  <a href="{{ url_for('shop') }}"" class="hover:text-darkgreen">SHOP</a>
                  <div class="absolute hidden dropdown-menu bg-light text-darkgreen shadow-xl mt-1 rounded-lg">
                    <a href="{{ url_for('shop', **dict(request.args, category=1)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Makeup</a>
                    <a href="{{ url_for('shop', **dict(request.args, category=2)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Skincare</a>
                    <a href="{{ url_for('shop', **dict(request.args, category=4)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Fragrance</a>
                    <a href="{{ url_for('shop', **dict(request.args, category=3)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Men's grooming</a>
                </div>
              </div>
              <a href="{{ url_for('about') }}" class="p-8 hover:text-darkgreen">ABOUT US</a>
              <a href="{{ url_for('contact') }}" class="hover:text-darkgreen">CONTACT US</a>
          </nav>
          <div class="flex hidden md:flex items-center gap-4">
              <button>
                  <a href="{{ url_for('login') }}" class="hover:text-darkgreen">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                      </svg>
                  </a>
              </button>
              <button>
                  <a href="{{ url_for('cart') }}" class="hover:text-darkgreen">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                      </svg>
                  </a>
              </button>
          </div>
          <button class="block md:hidden">
              <svg id="burgerlist" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
              <svg id="unshowlist" xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
              </svg>
          </button>
      </header>
      <nav class="flex flex-col" id="navbar">
          <div class="flex flex-col justify-start w-[90%] items-center bg-opacity-90 mt-7 rounded-3xl bg-darkgreen mx-auto p-3 md:hidden">
              <a href="{{url_for('home')}}" class="text-light p-3">HOME</a>
              <div class="dropdown">
                  <a href="{{ url_for('shop') }}"" class=" text-light p-8">SHOP</a>
                  <div class="absolute hidden dropdown-menu bg-light text-darkgreen shadow-xl mt-1 rounded-lg">
                    <a href="{{ url_for('shop', **dict(request.args, category=1)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Makeup</a>
                    <a href="{{ url_for('shop', **dict(request.args, category=2)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Skincare</a>
                    <a href="{{ url_for('shop', **dict(request.args, category=4)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Fragrance</a>
                    <a href="{{ url_for('shop', **dict(request.args, category=3)) }}" class="block px-4 py-2 hover:bg-beige hover:bg-opacity-10">Men's grooming</a>
                </div>
              </div>
              <a href="{{ url_for('about') }}" class="p-3 text-light font-bold">ABOUT US</a>
              <a href="{{ url_for('contact') }}" class="text-light pb-3">CONTACT US</a>
              <div class="flex block md:hidden items-center gap-4 mt-3">
                  <button>
                      <a href="{{ url_for('login') }}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person dark:text-light" viewBox="0 0 16 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                      </svg></a>
                  </button>
                  <button>
                      <a href="{{ url_for('cart') }}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor" class="bi bi-cart dark:text-light" viewBox="0 0 16 16">
                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                      </svg></a>
                  </button>
              </div>
          </div>
      </nav>
    
      <!-- <main>
        <div class="w-[90%] mx-auto md:max-w-md mx-auto bg-light p-8 rounded-3xl shadow-2xl my-20">
            <h2 class="text-3xl font-bold mb-6 font-fraun text-darkgreen">Checkout</h2>
            <form>
                <div class="mb-4">
                    <label for="name" class="block font-pop text-sm font-semibold mb-2">Full Name</label>
                    <input type="text" id="name" class="w-full px-3 py-2 text-darkgreen outline-none bg-lightbeige bg-opacity-30 rounded-lg" required>
                </div>
                <div class="mb-4">
                    <label for="address" class="block font-pop text-sm font-semibold mb-2">Delivery Address</label>
                    <textarea id="address" class="w-full px-3 py-2 border-beige outline-none text-darkgreen bg-lightbeige bg-opacity-30 rounded-lg" rows="3" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="phone" class="block font-pop text-sm font-semibold mb-2">Phone Number</label>
                    <input type="tel" id="phone" class="w-full px-3 py-2 bg-lightbeige outline-none text-darkgreen bg-opacity-30 border-beige border-1 rounded-lg" required>
                </div>
                <div class="mb-6">
                    <label for="email" class="block font-pop text-sm font-semibold mb-2">Email Address</label>
                    <input type="email" id="email" class="w-full px-3 bg-lightbeige text-darkgreen outline-none bg-opacity-30 py-2 border-beige border-1 rounded-lg" required>
                </div>
                <div class="mb-6">
                    <p class="font-pop text-sm font-semibold mb-2">Payment Method</p>
                    <div class="flex items-center">
                        <input type="radio" id="cod" name="payment" value="cod" class="mr-2" checked>
                        <label for="cod" class="font-pop">Cash on Delivery</label>
                    </div>
                </div>
                
              
                <div class="mb-6 bg-lightbeige bg-opacity-30 p-4 rounded-lg">
                    <h3 class="text-xl font-bold mb-3 font-fraun text-darkgreen">Order Summary</h3>
                    <div class="flex justify-between mb-2">
                        <span class="font-pop text-sm">Subtotal:</span>
                        <span class="font-pop text-sm">$XX.XX</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span class="font-pop text-sm">Shipping:</span>
                        <span class="font-pop text-sm">$X.XX</span>
                    </div>
                    <div class="flex justify-between font-semibold">
                        <span class="font-pop text-sm">Total:</span>
                        <span class="font-pop text-sm">$XX.XX</span>
                    </div>
                </div>
                
                <button type="submit" class="w-full bg-darkgreen text-light py-2 px-4 rounded-xl hover:opacity-80 transition-opacity duration-300">
                    Place Order
                </button>
            </form>
        </div>
    </main> -->
    <main class="container mx-auto px-4 py-8">
        <div class="max-w-5xl mx-auto bg-light p-8 shadow-lg rounded-3xl  my-10">
            <h2 class="text-3xl font-bold mb-6 font-fraun text-darkgreen">Checkout</h2>
            <div class="flex flex-col md:flex-row gap-8">
                <form class="flex-grow" method="post" action="{{ url_for('checkout') }}">
                    <div class="mb-4">
                        <label for="name" class="block font-pop text-sm font-semibold mb-2">First Name</label>
                        <input type="text" id="name" name="firstname" class="w-full px-3 py-2 text-darkgreen outline-none bg-lightbeige bg-opacity-30 rounded-lg" required>
                    </div>
                    <div class="mb-4">
                        <label for="name" class="block font-pop text-sm font-semibold mb-2">Last Name</label>
                        <input type="text" id="name" name="lastname" class="w-full px-3 py-2 text-darkgreen outline-none bg-lightbeige bg-opacity-30 rounded-lg" required>
                    </div>
                    <div class="mb-4">
                        <label for="address" class="block font-pop text-sm font-semibold mb-2">Delivery Address</label>
                        <textarea id="address" name="address" class="w-full px-3 py-2 border-beige outline-none text-darkgreen bg-lightbeige bg-opacity-30 rounded-lg" rows="3" required></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="phone" class="block font-pop text-sm font-semibold mb-2">Phone Number</label>
                        <input type="tel" id="phone" name="phone" class="w-full px-3 py-2 bg-lightbeige outline-none text-darkgreen bg-opacity-30 border-beige border-1 rounded-lg" required>
                    </div>
                    <div class="mb-6">
                        <label for="email"  class="block font-pop text-sm font-semibold mb-2">Email Address</label>
                        <input type="email" name="email" id="email" class="w-full px-3 bg-lightbeige text-darkgreen outline-none bg-opacity-30 py-2 border-beige border-1 rounded-lg" required>
                    </div>
                    <div class="mb-6">
                        <p class="font-pop text-sm font-semibold mb-2">Payment Method</p>
                        <div class="flex items-center">
                            <input type="radio" id="cod" name="payment" value="cod" class="mr-2" checked>
                            <label for="cod" class="font-pop">Cash on Delivery</label>
                        </div>
                    </div>
                    <button type="submit" class="w-full bg-darkgreen mt-6 text-light py-2 px-4 rounded-xl hover:opacity-80 transition-opacity duration-300">
                        Place Order
                    </button>
                </form>
                
                <div class="w-full md:w-64 bg-lightbeige bg-opacity-30 p-4 rounded-lg h-fit mt-7">
                    <h3 class="text-xl font-bold mb-3 font-fraun text-darkgreen">Order Summary</h3>
                    <!-- <div class="flex justify-between mt-10 mb-7">
                        <span class="font-pop text-sm">subtotal</span>                       
                        <span class="font-pop text-sm">${{ subtotal }}</span>
                    </div>
                     -->
                     <div class="flex justify-between font-semibold mb-4 my-7">
                        <span class="font-pop text-sm">shippin:</span>
                        <span class="font-pop text-sm">$10</span>
                    </div>
                    <div class="flex justify-between font-semibold mb-4 my-7">
                        <span class="font-pop text-sm">Total:</span>
                        <span class="font-pop text-sm">${{ total }}</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-darkgreen mt-20">
        <a href="{{ url_for('home') }}"><p class="p-4 text-center text-light font-semibold ">Nuova Beauty © 2024 Nuova. All rights reserved.</p></a>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>