<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order List</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User Email</th>
                <th>Order Amount</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order['id'] }}</td>
                <td>{{ order['email'] }}</td>
                <td>${{ order['order_amount'] }}</td>
                <td>{{ order['order_date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>