<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">    
        <link rel="icon" type="image/jpg" href="favicon.jpg">
        <title>Nuova</title>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                 theme: {
                   extend: {
                     // grayscale: {
                     //     50: '50%',
                    
                     fontFamily: { 
                           pop: ["Poppins", "sans-serif"], 
                           fraun:["Fraunces", "sans-serif"],
                       },
                     colors: { 
                       darkgreen:"#677E52",
                       light: "#fcf5eb", // hada bach khdemt lbackground
                       lightbeige:"#EAE2CB",
                       lightgreen:"#cfdb98",
                       beige:"#c4b494",
                     },
                   },
                 },
               };
        </script>
        <style>
            #navbar {
                display: none;
            }
            #burgerlist {
                display: block;
            }
            #unshowlist {
                display: none;
            }
            .dropdown:hover .dropdown-menu {
                display: block;
            }
      </style>
  </head>
<!-- <body class="bg-light">
    <div class=" font-pop p-8 mb-10">
        <div class="w-[90%] mx-auto md:w-[60%] xl:max-w-3xl mx-auto  rounded-2xl shadow-xl p-6">
            <h1 class="text-3xl font-fraun text-darkgreen mb-6 font-bold">Users  Orders</h1>
            <p>Total number of orders: {{ orders|length }}</p>
            {% for order in orders %}
            <div class="mb-12 border-b pb-6">
                <h2 class="text-xl font-pop font-bold text-beige mb-4">Order #{{order.order_id}}</h2>
                <div class="mb-6 mt-4 ">
                    <h3 class="text-lg font-pop text-darkgreen font-semibold  mb-2">Items</h3>
                    {% for item in order.order_items %}
                    <div class="border-t  border-lightbeige py-2 ">
                        class {% if not loop.last %}border-b{% endif %}
                        <div class="flex flex-col md:flex-row justify-between items-center mb-2">
                            <div class="flex flex-col text-center md:flex-row md:text-start items-center">
                                <img src="{{ url_for('static', filename='media/' + item.image) }}" alt="{{ item.product_name }}" class="w-20 h-20 object-cover mr-4 rounded-lg">
                                <div>
                                    <h4 class="font-semibold">{{ item.product_name }}</h4>
                                    <p class="text-sm text-beige">Quantity: {{ item.quantity }}</p>
                                    <p class="text-sm text-beige">Price: ${{ item.price }}</p>
                                </div>
                            </div>
                            <p class="font-semibold">${{ item.price * item.quantity }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="mb-2">
                    <div class="flex flex-col md:flex-row justify-between items-center md:text-lg text-sm font-bold">
                        <p>Order Total:</p>
                        <p>${{ order.total_amount }}</p>
                    </div>
                </div>
                
                <div class="mb-6 text-center md:text-start">
                    <h3 class="text-md md:text-lg  font-fraun text-beige mb-2">Customer Information</h3>
                    <p class="text-[12px] md:text-[16px]">Name: {{ order.firstname }}</p>
                    <p class="text-[12px] md:text-[16px]">Email: {{ order.email }}</p>
                </div>
                
               
            </div>
            {% endfor %}
        </div>
        <button class="bg-darkgreen text-white px-4 py-2 mt-4 rounded-xl hover:opacity-80 transition-opacity duration-300 ml-[20%]"> <a href="{{url_for('accountadmin') }}"> Go back</a></button>
    </div>
</body> -->
<body class="bg-light">
      {% block content %}
      <div class="flex flex-col md:flex-row w-full">
        
          <aside class="w-full md:w-64 bg-darkgreen  text-light rounded-r-xl">
              <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/NUOVAlogo2(white).png') }}" alt="logo" class="w-[79px] h-[30px] ml-4 mt-8"></a>
              <nav class="mt-6 font-medium text-[16px]">
                <a href="{{ url_for('accountadmin') }}" class="block py-2 px-4  mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80 duration-300 block py-2 px-4 hover:bg-opacity-75 ">Admin account</a>
                <a href="{{ url_for('productTable') }}" class="mx-2  rounded-lg hover:rounded-lg duration-300 block py-2 px-4   font-poppins hover:bg-[#3C4A30] hover:bg-opacity-75">Edit Stock</a>
                <a href="{{ url_for('orders') }}" class="mx-2 bg-[#3C4A30] rounded-lg hover:rounded-lg  duration-300 block py-2 px-4   bg-opacity-75">Users Orders</a>
                <a href="{{ url_for('home') }}" class="mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80 duration-300 block py-2 px-4 hover:bg-opacity-75 ">Home</a>
            </nav>
          </aside>   
          <div class="flex-1 p-4 md:p-8 pl-0">
            <p class="font-bold mb-2">Total number of orders: {{ orders|length }}</p>
            <div class="max-h-[73vh] overflow-y-auto rounded-lg">
                <table class="w-full border-collapse overflow-y">
                    <thead class="sticky top-0 bg-beige  z-10">
                          <tr class="bg-beige bg-opacity-65 text-light">
                              <th class="px-4 py-2 text-left">OrderID</th>
                              <th class="px-4 py-2 text-left">Customer</th>
                              <th class="px-4 py-2 text-left">Email</th>
                              <th class="px-4 py-2 text-left">Items</th>
                              <th class="px-4 py-2 text-left">Total Amount</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for order in orders %}
                          <tr class=" hover:bg-lightbeige hover:bg-opacity-25 transition-colors duration-300">
                              <td class="px-4 py-3 font-bold text-darkgreen font-fraun">#{{order.order_id}}</td>
                              <td class="px-4 py-3">{{ order.firstname }}</td>
                              <td class="px-4 py-3">{{ order.email }}</td>
                              <td class="px-4 py-3">
                                  <ul>
                                  {% for item in order.order_items %}
                                      <li class="mb-2">
                                          <div class="flex items-center">
                                              <img src="{{ url_for('static', filename='media/' + item.image) }}" alt="{{ item.product_name }}" class="w-20 h-20 object-cover mr-2 rounded-xl">
                                              <div>
                                                  <p class="font-semibold">{{ item.product_name }}</p>
                                                  <p class="text-sm text-beige">Qty: {{ item.quantity }} x ${{ item.price }}</p>
                                              </div>
                                          </div>
                                      </li>
                                  {% endfor %}
                                  </ul>
                              </td>
                              <td class="px-4 py-3 text-right font-bold">${{ order.total_amount }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <button class="bg-darkgreen text-white px-4 py-2 mt-4 rounded-xl hover:opacity-80 transition-opacity duration-300">
                  <a href="{{ url_for('accountadmin') }}">Go Back</a>
              </button>
          </div>
      </div>
      {% endblock %}
  </div>
</body>
</html>