<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="favicon.jpg">
    <title>Nuova</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: { 
                        pop: ["Poppins", "sans-serif"], 
                        fraun: ["Fraunces", "serif"],
                    },
                    colors: { 
                        darkgreen: "#677E52",
                        light: "#fcf5eb",
                        lightbeige: "#EAE2CB",
                        lightgreen: "#cfdb98",
                        beige: "#c4b494",
                    },
                },
            },
        };
    </script>
    <style>
        .fade-out {
            transition: opacity 1.5s !important;
            opacity: 0 !important;
        }
        #navbar {
            display: none;
        }
        #burgerlist {
            display: block;
        }
        #unshowlist {
            display: none;
        }
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body class="bg-light font-pop">
    
    <div class="mx-auto">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert bg-darkgreen text-center bg-opacity-90 text-light px-6 py-3 rounded-3xl shadow-md relative" role="alert" id="alert-{{ loop.index0 }}">
                    <p class="font-bold">{{ message }}</p>
                </div>
                {% endfor %}
                <script>
                    const alerts = document.querySelectorAll('.alert');
                    alerts.forEach(function(alert) {
                        setTimeout(function() {
                            alert.classList.add('fade-out');
                            setTimeout(function() {
                                alert.remove();
                            }, 1500);
                        }, 2000);
                    });
                </script>      
            {% endif %}
        {% endwith %}     

        {% block content %}
        <div class="flex flex-col md:flex-row w-full">
            <!-- Aside -->
            <aside class="w-full h-screen md:w-64 bg-darkgreen  text-light rounded-r-xl">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/NUOVAlogo2(white).png') }}" alt="logo" class="w-[79px] h-[30px] ml-4 mt-8"></a>
                <nav class="mt-6 font-medium text-[16px]">
                    <a href="{{ url_for('accountadmin') }}" class="block py-2 px-4  mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80 duration-300 block py-2 px-4 hover:bg-opacity-75 ">Admin account</a>
                    <a href="{{ url_for('productTable') }}" class="mx-2  rounded-lg hover:rounded-lg duration-300 block py-2 px-4   font-poppins bg-[#3C4A30] bg-opacity-75">Edit Stock</a>
                    <a href="{{ url_for('orders') }}" class="mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80 duration-300 block py-2 px-4 hover:bg-opacity-75  ">Users Orders</a>
                    <a href="{{ url_for('home') }}" class="mx-2 hover:bg-[#3C4A30] rounded-lg hover:rounded-lg hover:opacity-80 duration-300 block py-2 px-4 hover:bg-opacity-75 ">Home</a>
                </nav>
            </aside>
            
            <div class="flex-1 p-4 md:p-8 pl-0">
                <div class="mb-6  ">
                    <a href="{{ url_for('add_product') }}" class="inline-block bg-darkgreen text-light text-sm px-4 py-2 rounded-xl hover:bg-opacity-80  duration-300">
                        Add New Product
                    </a>
                </div>
                <div class="max-h-[70vh] overflow-y-auto rounded-lg">
                    <table class="w-full border-collapse overflow-y">
                        <thead class="sticky top-0 bg-beige  z-10">
                            <tr class="bg-beige bg-opacity-65 text-light">
                                <th class="px-4 py-3 text-left w-1/6">Image</th>
                                <th class="px-4 py-3 text-left w-1/6">Name</th>
                                <th class="px-4 py-3 text-left w-1/6">Category</th>
                                <th class="px-4 py-3 text-left w-1/6">Description</th>
                                <th class="px-4 py-3 text-left w-1/12">Price</th>
                                <th class="px-4 py-3 text-left w-1/6">Quantity</th>
                                <th class="px-4 py-3 text-left w-1/6">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr class="hover:bg-lightbeige hover:bg-opacity-25 transition-colors duration-300">
                                <td class="px-4 py-3">
                                    <img src="{{ url_for('static', filename='media/' + product['image']) }}" alt="{{ product.image }}" class="w-24 h-24 object-cover rounded-xl">
                                </td>
                                <td class="px-4 py-3 font-medium text-sm">{{ product.name }}</td>
                                <td class="px-4 py-3 font-fraun text-darkgreen font-bold">{{ product.category_name }}</td>
                                <td class="px-4 py-3">
                                    <p class="truncate w-48 text-sm">{{ product.description }}</p>
                                </td>
                                <td class="px-4 py-3 font-bold">${{ product.price }}</td>
                                <td class="px-4 py-3">{{ product.quantity }}</td>
                                <td class="px-4 py-3">
                                    <div class="flex space-x-1">
                                        <a href="{{ url_for('edit_product', id=product.id) }}" class="bg-darkgreen text-light px-2 py-1 text-[13px] rounded-lg shadow-xl hover:bg-opacity-90 transition-colors duration-300">Edit</a>
                                        <a href="{{ url_for('delete_product', id=product.id) }}" class="bg-beige text-light px-2 py-1 rounded-lg text-[13px] shadow-xl hover:bg-opacity-90 transition-colors duration-300">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button class="bg-darkgreen text-white text-sm px-4 py-2 mt-4 rounded-xl hover:opacity-80 transition-opacity duration-300">
                    <a href="{{ url_for('accountadmin') }}" >Go Back</a>
                </button>
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>



<!-- this is without the aside -->

<!-- <h1 class="text-4xl font-bold mb-8 mt-40 text-darkgreen font-fraun text-center">Product Management Table</h1>
        
        <div class="mb-6 flex jsutify-between">
            <a href="{{ url_for('add_product') }}" class="inline-block bg-darkgreen text-light px-6 py-2 rounded-2xl hover:bg-opacity-80  duration-300">
                Add New Product
            </a>
        </div>


        <div class="overflow-x-auto bg-light rounded-xl shadow-2xl">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-beige bg-opacity-65 text-light">
                        <th class="px-4 py-3 text-left">Image</th>
                        <th class="px-4 py-3 text-left">Name</th>
                        <th class="px-4 py-3 text-left">Category</th>
                        <th class="px-4 py-3 text-left">Description</th>
                        <th class="px-4 py-3 text-left">Price</th>
                        <th class="px-4 py-3 text-left">Quantity</th>
                        <th class="px-4 py-3 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr class="hover:bg-lightbeige hover:bg-opacity-25 transition-colors duration-300">
                        <td class="px-4 py-3">
                            <img src="{{ url_for('static', filename='media/' + product['image']) }}" alt="{{ product.image }}" class="w-72 h-32 object-cover rounded-xl">
                        </td>
                        <td class="px-4 py-3 font-medium">{{ product.name }}</td>
                        <td class="px-4 py-3 font-fraun text-darkgreen font-bold">{{ product.category_name }}</td>
                        <td class="px-4 py-3">
                            <p class="truncate w-48 text-sm">{{ product.description }}</p>
                        </td>
                        <td class="px-4 py-3 font-bold">${{ product.price }}</td>
                        <td class="px-4 py-3">{{ product.quantity }}</td>
                        <td class="px-4 py-3">
                            <div class="flex space-x-2">
                                <a href="{{ url_for('edit_product', id=product.id) }}" class="bg-darkgreen text-light px-3 py-1 rounded-lg shadow-xl hover:bg-opacity-90 transition-colors duration-300">Edit</a>
                                <a href="{{ url_for('delete_product', id=product.id) }}" class="bg-beige text-light px-3 py-1 rounded-lg shadow-xl hover:bg-opacity-90 transition-colors duration-300">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> -->
