<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>Product Management Table</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                 theme: {
                   extend: {
                     // grayscale: {
                     //     50: '50%',
                    
                     fontFamily: { 
                           pop: ["Poppins", "sans-serif"], 
                           fraun:["Fraunces", "sans-serif"],
                       },
                     colors: { 
                       darkgreen:"#677E52",
                       light: "#fcf5eb", // hada bach khdemt lbackground
                       lightbeige:"#EAE2CB",
                       lightgreen:"#cfdb98",
                       beige:"#c4b494",
                     },
                   },
                 },
               };
          </script>
          <style>
                #navbar {
                    display: none;
                }
                #burgerlist {
                    display: block;
                }
                #unshowlist {
                    display: none;
                }
                .dropdown:hover .dropdown-menu {
                    display: block;
                }
                .fade-out {
                  transition: opacity 1.5s !important;
                  opacity: 0 !important;
                }
        </style>
    </head>
    <body class="bg-light">
      {% block content %}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert bg-darkgreen bg-opacity-65 border-beige mt-8 text-light px-4 py-3 w-[80%] mx-auto rounded-lg shadow shadow-lightbeige relative" role="alert" id="alert-{{ loop.index0 }}" style="display: inline-block;">
                <strong class="font-bold">{{ message }}</strong>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                  <svg class="fill-current h-6 w-6 text-light" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Close</title>
                    <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                  </svg>
                </span>
              </div>
            {% endfor %}
              <script>
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                  setTimeout(function() {
                    alert.classList.add('fade-out');
                    console.log(alert.style.opacity); // check if opacity is being set
                    setTimeout(function() {
                      alert.remove();
                    }, 1500); // remove the alert after the fade-out animation
                  }, 2000); // start the fade-out animation after 5 seconds
                });
              </script>      
            {% endif %}
          {% endwith %}
    <h1 class="text-4xl font-bold mb-4 text-darkgreen font-fraun justify-center flex mt-20 ">Product Management Table</h1>
    <button class="bg-darkgreen px-3 py-1 text-light rounded-lg ml-[0.2%] hover:opacity-80 transition-opacity duration-300 mt-5"><a href="{{ url_for('add_product') }}"> Add product</a></button><br>
    <table class="border-beige  mx-auto rounded-lg table-auto  w-full mb-4 border-separate border-spacing-0 mt-2">
        <thead class="rounded">
          <tr class="text-light ">
            <th class="  py-2 px-2 border-b border-lightbeige bg-beige bg-opacity-65">Name</th>
            <th class="  py-2 px-2 border-b border-lightbeige bg-beige bg-opacity-65">Category</th>
            <th class="  py-2 px-2 border-b border-lightbeige bg-beige bg-opacity-65">Image</th>
            <th class="  py-2 px-2 border-b border-lightbeige bg-beige bg-opacity-65">Description</th>
            <th class="  py-2 px-2 border-b border-lightbeige bg-beige bg-opacity-65">Price</th>
            <th class="  py-2 px-2 border-b border-lightbeige bg-beige bg-opacity-65">Quantity</th>
            <th class="  py-2 px-2 border-b border-lightbeige bg-beige bg-opacity-65">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
          <tr>
            <td class="border-b border-lightbeige  py-1 px-4  text-darkgreen w-[15%] items-center">{{ product.name }}</td>
            <td class=" border-b border-lightbeige py-1 px-4 items-center font-bold font-fraun">{{ product.category_name }}</td>
            <td class="border-b border-lightbeige  py-1 px-4 items-center"> <img src="{{ url_for('static', filename='media/' + product['image']) }}" alt="Product Image" class="rounded-xl w-[150px] h-[150px] object-cover"></td>
            <td class="border-b border-lightbeige  py-1 px-4 w-[19%] items-center">{{ product.description }}</td>
            <td class=" border-b border-lightbeige py-1 px-4  font-bold items-center">{{ product.price }}$</td>
            <td class=" border-b border-lightbeige  py-1 px-4 items-center" >{{ product.quantity }}</td>
            <td class="border-b  border-lightbeige  py-1 px-4 items-center"> 
                <a href="{{url_for('delete_product', id=product.id)}}"><button class="bg-beige px-2 py-1 rounded-lg text-light shadow hover:opacity-80 transition-opacity duration-300">Delete</button></a>
                <a href="{{ url_for('edit_product', id=product.id) }}"><button class="bg-darkgreen px-2 py-1 rounded-lg text-light shadow hover:opacity-80 transition-opacity duration-300" >Edit</button></a>
            </td>
           
          </tr>
          {%endfor%}
        </tbody>
      </table>
      {% endblock %}
      
</body>

</html>